<div class="article-list">
  <article >
    <div class="article-header">
      <h2><a href="#">Django REST framework Token认证不过期的解决方法</a></h2>
      <small>
        <span>发布时间：2017-05-20 13:47:12</span>
        <span>分类：JavaScript</span>
        <span>浏览（43）</span>
        <span>评论（3）</span>
      </small>
    </div>
    <div  class="article-body">
        <td-markdown>

        ```bash
        #!/bin/bash

        ###### CONFIG
        ACCEPTED_HOSTS="/root/.hag_accepted.conf"
        BE_VERBOSE=false

        if [ "$UID" -ne 0 ]
        then
        echo "Superuser rights required"
        exit 2
        fi
        ```

        </td-markdown>
    </div>
    <div class="article-more">
      <a href="#">阅读全文</a>
    </div>
  </article>

<!-- 分页 -->
<div layout="row" layout-align="center">
    <td-paging-bar #pagingBar [pageSizeAllText]="pageSizeAllText" [pageSizeAll]="true" [pageSizes]="pageSizes" 
                [initialPage]="initialPage" [firstLast]="firstLast" [pageSize]="pageSize" [total]="total" (change)="change($event)">
      <span td-paging-bar-label hide-xs>Row per page:</span>{{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>
</div>
</div>
