<aside class="right-info">

  <div class="card">
    <div class="nav">
      <button md-button color="primary">登录</button>
      <button md-button color="primary">注册</button>
      <button md-button color="primary">找回密码</button>
    </div>
  </div>

  <div class="card">
    <div class="me">
      <div class="avatar">
      <img src="https://blog.ansheng.me/media/2017/03/avatar.png">
    </div>
    <h2>Hi, 安生</h2>
    <small>你的烦恼说不定在这家网站可以找到，欢迎经常来光顾~</small>
    </div>
  </div>

  <div class="card">
    <div class="category">
      <h3>分类</h3>
      <hr>
      <md-nav-list dense flex>
          <a md-list-item href="{{category.url}}" *ngFor="let category of categorys">
            <h3 md-line>{{category.name}}</h3>
            <span>（{{category.count}}）</span>
          </a>
      </md-nav-list>

    </div>
  </div>

  <div class="card">
    <div class="tag">
      <h3>标签</h3>
      <hr>
      <div class="body">
          <a href="#" *ngFor="let tag of tags">{{tag}}</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="links">
      <h3>友情链接</h3>
      <hr>
      <md-nav-list dense flex>
          <a md-list-item href="{{link.url}}" *ngFor="let link of links">
            <h3 md-line>{{link.name}}</h3>
            <p md-line>{{link.desc}}</p>
          </a>
      </md-nav-list>
    </div>
  </div>

  <div class="card">
    <div class="comments">
      <h3>最近评论</h3>
      <hr>
      <md-nav-list dense flex>
          <a md-list-item href="#">
            <md-icon md-list-avatar>person</md-icon>
            <h3 md-line> 用户名 </h3>
            <p md-line> 评论内容 </p>
          </a>
          <md-divider md-inset></md-divider>
      </md-nav-list>
    </div>
  </div>
</aside>