doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 404 - 七月
        link(rel='stylesheet', href='vendors/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='vendors/animate.css-3.5.2/animate.css')
        link(rel='stylesheet', href='css/app_1.min.css')
        link(rel='stylesheet', href='css/app_2.min.css')
    body
        section#main.four-zero
            .four-zero__content
                h1 404
                .four-zero__links
                    a(href='index') 首页
        script(src='vendors/jquery-2.2.4/jquery.min.js')
        script(src='vendors/bootstrap-3.3.7/js/bootstrap.min.js')
        script(src='vendors/waves-0.7.5/waves.min.js')
        script(src='js/app.min.js')