doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Roost - Material Design Real Estate
        link(rel='stylesheet', href='/vendors/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='/vendors/animate.css-3.5.2/animate.css')
        link(rel='stylesheet', href='/css/app_1.min.css')
        link(rel='stylesheet', href='/css/app_2.min.css')
        script(src='/js/page-loader.min.js', async='')
    body
        // Start page loader
        #page-loader
            .page-loader__spinner
        // End page loader
        header#header
            .header__top
                .container
                    ul.top-nav
                        li.dropdown.top-nav__guest
                            a(data-toggle='dropdown', href='') Register
                            form.dropdown-menu.stop-propagate
                                .form-group
                                    input.form-control(type='text', placeholder='Email Address')
                                    i.form-group__bar
                                .form-group
                                    input.form-control(type='password', placeholder='Password')
                                    i.form-group__bar
                                .form-group
                                    input.form-control(type='password', placeholder='Confirm Password')
                                    i.form-group__bar
                                p
                                    small
                                        | By Signing up with Roost, you're agreeing to our 
                                        a(href='') terms and conditions
                                        | .
                                button.btn.btn-primary.btn-block.m-t-10.m-b-10 Register
                                .text-center
                                    small
                                        a(href='') Are you an Agent?
                                .top-nav__auth
                                    span or
                                    div Sign in using
                                    a.mdc-bg-blue-500(href='')
                                        i.zmdi.zmdi-facebook
                                    a.mdc-bg-cyan-500(href='')
                                        i.zmdi.zmdi-twitter
                                    a.mdc-bg-red-400(href='')
                                        i.zmdi.zmdi-google
                        li.dropdown.top-nav__guest
                            a(data-toggle='dropdown', href='', data-rmd-action='switch-login') Login
                            .dropdown-menu
                                .tab-content
                                    form#top-nav-login.tab-pane.active.in.fade
                                        .form-group
                                            input.form-control(type='text', placeholder='Email Address')
                                            i.form-group__bar
                                        .form-group
                                            input.form-control(type='password', placeholder='Password')
                                            i.form-group__bar
                                        button.btn.btn-primary.btn-block.m-t-10.m-b-10 Login
                                        .text-center
                                            a(href='#top-nav-forgot-password', data-toggle='tab')
                                                small Forgot email/password?
                                        .top-nav__auth
                                            span or
                                            div Sign in using
                                            a.mdc-bg-blue-500(href='')
                                                i.zmdi.zmdi-facebook
                                            a.mdc-bg-cyan-500(href='')
                                                i.zmdi.zmdi-twitter
                                            a.mdc-bg-red-400(href='')
                                                i.zmdi.zmdi-google
                                    form#top-nav-forgot-password.tab-pane.fade.forgot-password
                                        a.top-nav__back(href='#top-nav-login', data-toggle='tab')
                                        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                        .form-group
                                            input.form-control(type='text', placeholder='Emaill Address')
                                            i.form-group__bar
                                        button.btn.btn-warning.btn-block Reset Password
                        li.pull-right.top-nav__icon
                            a(href='')
                                i.zmdi.zmdi-facebook
                        li.pull-right.top-nav__icon
                            a(href='')
                                i.zmdi.zmdi-twitter
                        li.pull-right.top-nav__icon
                            a(href='')
                                i.zmdi.zmdi-google
                        li.pull-right.hidden-xs
                            span
                                i.zmdi.zmdi-email
                                | hello@Roost.com
                        li.pull-right.hidden-xs
                            span
                                i.zmdi.zmdi-phone
                                | 001-541-754-3010
            .header__main
                .container
                    a.logo(href='index.html')
                        img(src='/img/logo.png', alt='')
                        .logo__text
                            span Roost
                            span Material Design Real Estate
                    .navigation-trigger.visible-xs.visible-sm(data-rmd-action='block-open', data-rmd-target='.navigation')
                        i.zmdi.zmdi-menu
                    ul.navigation
                        li.visible-xs.visible-sm
                            a.navigation__close(data-rmd-action='navigation-close', href='')
                                i.zmdi.zmdi-long-arrow-right
                        li.navigation__dropdown
                            a(href='index.html') Home
                            ul.navigation__drop-menu
                                li
                                    a(href='after-login.html') After Login
                                li
                                    a(href='home-alternative.html') Home Alternative
                                li
                                    a(href='dashboard/index.html') Dashboard
                        li.navigation__dropdown
                            a.prevent-default(href='') Listings
                            ul.navigation__drop-menu
                                li
                                    a(href='listings-grid.html') Grid view
                                li
                                    a(href='listings-list.html') List view
                                li
                                    a(href='listings-map.html') Map view
                                li
                                    a(href='listing-detail.html') Listing Detail
                        li
                            a(href='submit-property.html') Submit
                        li.navigation__dropdown
                            a(href='mortgage.html') Mortgages
                            ul.navigation__drop-menu
                                li
                                    a(href='mortgage-detail.html') Mortgage Detail
                                li
                                    a(href='mortgage-detail-reviews.html') Mortgage Reviews
                                li
                                    a(href='mortgage-detail-disclaimer.html') Mortgage Disclaimer
                        li.navigation__dropdown
                            a(href='agents.html') Agents
                            ul.navigation__drop-menu
                                li
                                    a(href='agent-detail.html') Agent Detail
                                li
                                    a(href='agent-detail-properties.html') Agent Properties
                                li
                                    a(href='agent-detail-reviews.html') Agent Reviews
                        li
                            a(href='contact.html') Contact
                        li.active.navigation__dropdown
                            a.prevent-default(href='') More
                            ul.navigation__drop-menu.navigation__drop-menu--right
                                li
                                    a(href='profile.html') Profile Private
                                li
                                    a(href='profile-public.html') Profile Public
                                li
                                    a(href='blog.html') Blog
                                li.active
                                    a(href='blog-details.html') Blog Detail
                                li
                                    a(href='neighborhood-guide.html') Neighborhood Guide
                                li
                                    a(href='faq.html') FAQ
                                li
                                    a(href='team.html') Team
                                li
                                    a(href='email/listing-mail.html') Email Template
                                li
                                    a(href='404.html') Error - 404
                                li
                                    a(href='empty-page.html') Empty Page
        .action-header
            .container
                .action-header__item.action-header__item--search
                    form
                        input.hidden-sm.hidden-xs(type='text', placeholder='Search for articles, comments and people')
                        // For desktop
                        input.visible-xs.visible-sm(type='text', placeholder='Search...')
                        // For desktop
                .action-header__item.action-header__item--tags.hidden-xs
                    a(href='') #New York
                    a(href='') #Condo for rent
                    a(href='') #Lendors
                    a.hidden-sm(href='') #Mortgage
                    a.hidden-sm(href='') #Sell Property
        section.section
            .container
                header.section__title
                    h2 Duis mollisest non commodo luctus nisierat porttito
                    small by Sam Andersion on 17th July 2016
                    .actions.actions--section
                        .actions__toggle
                            input(type='checkbox')
                            i.zmdi.zmdi-favorite-outline
                            i.zmdi.zmdi-favorite
                        .dropdown
                            a(href='', data-toggle='dropdown')
                                i.zmdi.zmdi-share
                            .dropdown-menu.pull-right.rmd-share
                                div
                        a(href='', data-rmd-action='scroll-to', data-rmd-target='.blog-comment', data-rmd-offset='85')
                            i.zmdi.zmdi-comment-alt-text
                .row
                    .col-md-8.col-sm-7
                        article.card.blog
                            .card__img
                                img(src='/img/demo/blog/1.jpg', alt='')
                            .card__body
                                p.lead
                                    | Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.
                                p
                                    | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                p
                                    | Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.
                                p
                                    | Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.
                                p
                                    | Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                            .blog__tags
                                a.tags-list__item(href='') #Sollicitudin
                                a.tags-list__item(href='') #Ultricies
                                a.tags-list__item(href='') #Elit
                                a.tags-list__item(href='') #Crastortor
                            .blog__arthur
                                .blog__arthur-img
                                    img(src='/img/demo/people/8.jpg', alt='')
                                .blog__arthur-contents
                                    h2 Malinda Hollaway
                                    p
                                        | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus.
                                    .blog__arthur-social
                                        a.mdc-bg-indigo-500(href='')
                                            i.zmdi.zmdi-facebook
                                        a.mdc-bg-cyan-500(href='')
                                            i.zmdi.zmdi-twitter
                                        a.mdc-bg-red-400(href='')
                                            i.zmdi.zmdi-google
                                        a.mdc-bg-blue-600(href='')
                                            i.zmdi.zmdi-linkedin
                        // Comment Lists
                        .card.list-group.blog-comment
                            .list-group__header.clearfix
                                span.pull-left 5 Feedbacks so far...
                                a.pull-right(href='', data-rmd-action='scroll-to', data-rmd-target='#blog-comment', data-rmd-offset='85')
                                    span.hidden-xs LEAVE A 
                                    | COMMENT
                            .list-group-item.media
                                a.pull-left(href='')
                                    img.list-group__img.img-circle(src='/img/demo/people/2.jpg', width='50', height='50', alt='')
                                    .blog-comment__up
                                        span +20
                                .media-body.list-group__text
                                    strong Melsa Taylor
                                    small
                                        | Monday 19th July, 2016 
                                        span.hidden-xs at 7:00AM
                                    p.m-t-15
                                        | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor.
                                    .actions.actions--blog-comment.dropdown
                                        a(href='', data-toggle='dropdown')
                                            i.zmdi.zmdi-more-vert
                                        ul.dropdown-menu.dropdown-menu--icon.pull-right
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-thumb-up
                                                    |  +1
                                            li
                                                a(href='', data-rmd-action='blog-comment-open')
                                                    i.zmdi.zmdi-mail-reply
                                                    |  Reply
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-alert-octagon
                                                    |  Report
                                // Sub comment list
                                .list-group-item.media
                                    a.pull-left(href='')
                                        img.list-group__img.img-circle(src='/img/demo/people/9.jpg', width='50', height='50', alt='')
                                    .media-body.list-group__text
                                        strong
                                            | Andrea Jarame  
                                            small.text-muted @Melsa Taylor
                                        small
                                            | Monday 19th July, 2016 
                                            span.hidden-xs at 8:02AM
                                        p.m-t-15
                                            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                        .actions.actions--blog-comment.dropdown
                                            a(href='', data-toggle='dropdown')
                                                i.zmdi.zmdi-more-vert
                                            ul.dropdown-menu.dropdown-menu--icon.pull-right
                                                li
                                                    a(href='')
                                                        i.zmdi.zmdi-thumb-up
                                                        |  +1
                                                li
                                                    a(href='', data-rmd-action='blog-comment-open')
                                                        i.zmdi.zmdi-mail-reply
                                                        |  Reply
                                                li
                                                    a(href='')
                                                        i.zmdi.zmdi-alert-octagon
                                                        |  Report
                                .list-group-item.media
                                    a.pull-left(href='')
                                        img.list-group__img.img-circle(src='/img/demo/people/10.jpg', width='50', height='50', alt='')
                                        .blog-comment__up
                                            span +2
                                    .media-body.list-group__text
                                        strong
                                            | James Anderson  
                                            small.text-muted @Melsa Taylor
                                        small
                                            | Monday 19th July, 2016 
                                            span.hidden-xs at 8:30AM
                                        p.m-t-15
                                            | Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                        .actions.actions--blog-comment.dropdown
                                            a(href='', data-toggle='dropdown')
                                                i.zmdi.zmdi-more-vert
                                            ul.dropdown-menu.dropdown-menu--icon.pull-right
                                                li
                                                    a(href='')
                                                        i.zmdi.zmdi-thumb-up
                                                        |  +1
                                                li
                                                    a(href='', data-rmd-action='blog-comment-open')
                                                        i.zmdi.zmdi-mail-reply
                                                        |  Reply
                                                li
                                                    a(href='')
                                                        i.zmdi.zmdi-alert-octagon
                                                        |  Report
                                // End sub comment list
                            .list-group-item.media
                                a.pull-left(href='')
                                    img.list-group__img.img-circle(src='/img/demo/people/3.jpg', width='50', height='50', alt='')
                                .media-body.list-group__text
                                    strong Teena Best
                                    small
                                        | Monday 17th July, 2016 
                                        span.hidden-xs at 8:30PM
                                    p.m-t-15 Aenean lacinia bibendum nulla sed consectetur.
                                    .actions.actions--blog-comment.dropdown
                                        a(href='', data-toggle='dropdown')
                                            i.zmdi.zmdi-more-vert
                                        ul.dropdown-menu.dropdown-menu--icon.pull-right
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-thumb-up
                                                    |  +1
                                            li
                                                a(href='', data-rmd-action='blog-comment-open')
                                                    i.zmdi.zmdi-mail-reply
                                                    |  Reply
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-alert-octagon
                                                    |  Report
                            .list-group-item.media
                                a.pull-left(href='')
                                    img.list-group__img.img-circle(src='/img/demo/people/4.jpg', width='50', height='50', alt='')
                                    .blog-comment__up
                                        span +5
                                .media-body.list-group__text
                                    strong Deen Jones
                                    small
                                        | Monday 14th July, 2016 
                                        span.hidden-xs at 2:10PM
                                    p.m-t-15
                                        | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                    .actions.actions--blog-comment.dropdown
                                        a(href='', data-toggle='dropdown')
                                            i.zmdi.zmdi-more-vert
                                        ul.dropdown-menu.dropdown-menu--icon.pull-right
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-thumb-up
                                                    |  +1
                                            li
                                                a(href='', data-rmd-action='blog-comment-open')
                                                    i.zmdi.zmdi-mail-reply
                                                    |  Reply
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-alert-octagon
                                                    |  Report
                            .list-group-item.media
                                a.pull-left(href='')
                                    img.list-group__img.img-circle(src='/img/demo/people/5.jpg', width='50', height='50', alt='')
                                    .blog-comment__up
                                        span +12
                                .media-body.list-group__text
                                    strong David Writer
                                    small
                                        | Monday 12th July, 2016 
                                        span.hidden-xs at 12:01AM
                                    p.m-t-15
                                        | Dortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                    .actions.actions--blog-comment.dropdown
                                        a(href='', data-toggle='dropdown')
                                            i.zmdi.zmdi-more-vert
                                        ul.dropdown-menu.dropdown-menu--icon.pull-right
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-thumb-up
                                                    |  +1
                                            li
                                                a(href='', data-rmd-action='blog-comment-open')
                                                    i.zmdi.zmdi-mail-reply
                                                    |  Reply
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-alert-octagon
                                                    |  Report
                            .list-group-item.media
                                a.pull-left(href='')
                                    img.list-group__img.img-circle(src='/img/demo/people/6.jpg', width='50', height='50', alt='')
                                .media-body.list-group__text
                                    strong Wayne Jenneke
                                    small
                                        | Monday 12th July, 2016 
                                        span.hidden-xs at 10:00PM
                                    p.m-t-15
                                        | Dortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                    .actions.actions--blog-comment.dropdown
                                        a(href='', data-toggle='dropdown')
                                            i.zmdi.zmdi-more-vert
                                        ul.dropdown-menu.dropdown-menu--icon.pull-right
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-thumb-up
                                                    |  +1
                                            li
                                                a(href='', data-rmd-action='blog-comment-open')
                                                    i.zmdi.zmdi-mail-reply
                                                    |  Reply
                                            li
                                                a(href='')
                                                    i.zmdi.zmdi-alert-octagon
                                                    |  Report
                        // Post a comment
                        #blog-comment.card.card--dark.mdc-bg-orange-300
                            .card__header
                                h2 Leave a comment
                                small Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            form.card__body
                                .row
                                    .col-sm-4
                                        .form-group.form-group--light
                                            input.form-control(type='text', placeholder='Name')
                                            i.form-group__bar
                                    .col-sm-4
                                        .form-group.form-group--light.form-group--float
                                            input.form-control(type='text', placeholder='Email Address')
                                            i.form-group__bar
                                    .col-sm-4
                                        .form-group.form-group--light
                                            input.form-control(type='text', placeholder='Website')
                                            i.form-group__bar
                                .form-group.form-group--light.form-group--float
                                    textarea.textarea-autoheight.form-control(placeholder='Write something...')
                                    i.form-group__bar
                                button.btn.btn-default.btn-sm.m-t-15.mdc-text-orange-700 Post comment
                    aside.col-md-4.col-sm-5.hidden-xs
                        .card.subscribe.mdc-bg-orange-300
                            .subscribe__icon
                                i.zmdi.zmdi-email
                            h2 Subscribe for Newsletters
                            small Curabitur blandit tempus porttitor adipiscing maecenas faucibus mollis interdum
                            form
                                .form-group.form-group--light.form-group--float
                                    input.form-control.text-center(type='text', placeholder='Email Address')
                                    i.form-group__bar
                                button.btn.btn--circle
                                    i.zmdi.zmdi-check.mdc-text-orange-400
                        .card
                            .card__header
                                h2 Related articles
                                small Morbi risus porta consectetur vestibulum
                            .list-group
                                a.list-group-item.media(href='')
                                    .pull-left
                                        img.list-group__img(src='/img/demo/listing/thumbs/2.jpg', alt='', width='65')
                                    .media-body.list-group__text
                                        strong Vivamus sagittis lacus
                                        small Cras mattis consectetur purus sit amet fermentum
                                a.list-group-item.media(href='')
                                    .pull-left
                                        img.list-group__img(src='/img/demo/listing/thumbs/3.jpg', alt='', width='65')
                                    .media-body.list-group__text
                                        strong Fusce dapibus tellusac
                                        small Praesent commodo cursus magna, vel scelerisque nisl consectetur et
                                a.list-group-item.media(href='')
                                    .pull-left
                                        img.list-group__img(src='/img/demo/listing/thumbs/4.jpg', alt='', width='65')
                                    .media-body.list-group__text
                                        strong Praesent commodo cursus magnavel scelerisque nisl
                                        small Maecenas sed diam eget risus varius blandit sit amet non magna
                                a.list-group-item.media(href='')
                                    .pull-left
                                        img.list-group__img(src='/img/demo/listing/thumbs/5.jpg', alt='', width='65')
                                    .media-body.list-group__text
                                        strong Lorem ipsum dolor sitamet
                                        small Donec ullamcorper nulla non metus auctor fringilla
                                a.list-group-item.media(href='')
                                    .pull-left
                                        img.list-group__img(src='/img/demo/listing/thumbs/6.jpg', alt='', width='65')
                                    .media-body.list-group__text
                                        strong Fusce dapibus accursus commodo
                                        small Aenean lacinia bibendum nulla sed consectetur
                                .p-10
        footer#footer
            .container.hidden-xs
                .row
                    .col-sm-4
                        .footer__block
                            a.logo.clearfix(href='')
                                .logo__text
                                    span Roost
                                    span Material Design Real Estate
                            address.m-t-20.m-b-20.f-14
                                | 44-46 Morningside Road,
                                | Edinburgh, Scotland
                            .f-20 0062-345678910
                            .f-14.m-t-5 hello@Roost.com / info@Roost.com
                            .f-20.m-t-20
                                a.m-r-10(href='')
                                    i.zmdi.zmdi-google
                                a.m-r-10(href='')
                                    i.zmdi.zmdi-facebook
                                a(href='')
                                    i.zmdi.zmdi-twitter
                    .col-sm-4
                        .footer__block.footer__block--blog
                            .footer__title Latest from our blog
                            a(href='')
                                | Aenean lacinia bibendum nulla sed
                                small On 2016/06/20 at 6:00 PM
                            a(href='')
                                | Vestibulum id ligula porta felis euismod semper
                                small On 2016/06/18 at 7:12 PM
                            a(href='')
                                | Etiam porta sem malesuada magna mollis euismod
                                small On 2016/06/10 at 12:59 PM
                    .col-sm-4
                        .footer__block
                            .footer__title Disclaimer
                            div
                                | Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            .footer__bottom
                .container
                    span.footer__copyright © Roost Real Estates
                    a(href='') About Us
                    a(href='') Terms & Conditions
                    a(href='') Privacy Policy
                    a(href='') Careers
                    a(href='') Agent Login
                .footer__to-top(data-rmd-action='scroll-to', data-rmd-target='html')
                    i.zmdi.zmdi-chevron-up
        script(src='/vendors/jquery-2.2.4/jquery.min.js')
        script(src='/vendors/bootstrap-3.3.7/js/bootstrap.min.js')
        script(src='/vendors/waves-0.7.5/waves.min.js')
        script(src='/vendors/autosize-3.0.15/autosize.min.js')
        script(src='/vendors/rateyo-2.3.2/jquery.rateyo.js')
        script(src='/vendors/jssocials-1.3.1/jssocials.min.js')
        script(src='/js/app.min.js')
        script(src='/js/demo/demo.js')