footer#footer
    .container.hidden-xs
        .row
            .col-sm-4
                .footer__block
                    a.logo.clearfix(href='')
                        .logo__text
                            span Roost
                            span Material Design Real Estate
                    address.m-t-20.m-b-20.f-14
                        | 44-46 Morningside Road,
                        | Edinburgh, Scotland
                    .f-20 0062-345678910
                    .f-14.m-t-5 hello@Roost.com / info@Roost.com
                    .f-20.m-t-20
                        a.m-r-10(href='')
                            i.zmdi.zmdi-google
                        a.m-r-10(href='')
                            i.zmdi.zmdi-facebook
                        a(href='')
                            i.zmdi.zmdi-twitter
            .col-sm-4
                .footer__block.footer__block--blog
                    .footer__title Latest from our blog
                    a(href='')
                        | Aenean lacinia bibendum nulla sed
                        small On 2016/06/20 at 6:00 PM
                    a(href='')
                        | Vestibulum id ligula porta felis euismod semper
                        small On 2016/06/18 at 7:12 PM
                    a(href='')
                        | Etiam porta sem malesuada magna mollis euismod
                        small On 2016/06/10 at 12:59 PM
            .col-sm-4
                .footer__block
                    .footer__title Disclaimer
                    div
                        | Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    .footer__bottom
        .container
            span.footer__copyright © Roost Real Estates
            a(href='') About Us
            a(href='') Terms & Conditions
            a(href='') Privacy Policy
            a(href='') Careers
            a(href='') Agent Login
        .footer__to-top(data-rmd-action='scroll-to', data-rmd-target='html')
            i.zmdi.zmdi-chevron-up
script(src='vendors/jquery-2.2.4/jquery.min.js')
script(src='vendors/bootstrap-3.3.7/js/bootstrap.min.js')
script(src='vendors/waves-0.7.5/waves.min.js')
script(src='js/app.min.js')
script(src='js/demo/demo.js')
